{%extends 'base.html' %}

{% block head%}
<title>Novo Post </title>
{% endblock%}


{% block body%}
<hr>
<h2>Crea un post:</h2>
<form action='/posts' method='POST'>

    Titolo: <input class="form-control" type='text' name='title' id='title' placeholder="Inserisci titolo">
    <br>
    Autore: <input type='text' name='author' id='author'placeholder="Inserisci Autore">
    <br>
    <!--
    Post: 
    <input class="form-control" type='text' name='content' id='content' placeholder="Inserisci il contenuto del post">-->
    <div class="form-group">
        <label for="content">Post:</label>
        <textarea class="form-control" rows="4" name="content" id="content" placeholder="Inserisci il contenuto desiderato"></textarea>
    </div> 
    <br>
    <input  class="btn btn-info" type='submit' value='Post'>
</form>
<br>
</hr>
</body>

</html>



{% endblock%}